.text-center{
    text-align: center;
}
h2{
    color: goldenrod;
}
h3{
    font-style: italic;
}
/*Stile Header*/
header{
    background-color: #ededed;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: goldenrod;
}
main{
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: goldenrod;
}
/*Fine Header*/

/*Stile immagine profilo*/
#immagineprofilo {
    height: 250px;
    
}
/*Fine immagine profilo*/

hr {
    color: #ffff00;
}